<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Web Authentication
  </h1>
</div>
<div class="forms" fxLayout="row" fxLayoutAlign="space-between start">
  <fieldset fxFlex="grow">
    <legend>Sign Up</legend>
    <div class="signup" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signup()">SIGN UP</button>
    </div>
  </fieldset>
  <fieldset fxFlex="grow">
    <legend>Sign In</legend>
    <div class="signin" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signin()">SIGN IN</button>
      <div class="or">OR</div>
      <button mat-raised-button color="primary" (click)="webAuthSignin()"><mat-icon>fingerprint</mat-icon></button>
    </div>
  </fieldset>
</div>

<h1>Admin</h1>
<div class="user" *ngFor="let user of users" fxLayoutAlign="space-between center">
  <div class="email">{{ user.email }}</div>
  <button mat-button *ngIf="user.credentials.length" (click)="webAuthSignin()" color="primary"><mat-icon>fingerprint</mat-icon></button>
  <button mat-button (click)="removeUser(user.email)" color="warn"><mat-icon inline>delete</mat-icon></button>
</div>

<div class="info">
  <hr/>
  <h3>Sources</h3>
  <div>
    <a href="https://webauthn.io/">Webauthn.io</a>
  </div>
  <div>
    <a href="https://medium.com/@herrjemand/introduction-to-webauthn-api-5fd1fb46c285">Medium Article by Ackermann Yuriy</a>
  </div>
</div>

<router-outlet></router-outlet>
