.not-available {
  margin-bottom: 10px;
}

.github {
  margin: 3px 0;
  img {
    margin-top: -3px;
  }
}

.signup, .signin {
  height: 300px;
}

.info {
  margin: 50px 0;
}

.or {
  margin: 8px 0;
}

.user {
  margin-bottom: 5px;
  // padding: 5px;
  // border-bottom: 1px solid lightgray;
}

// .user:hover {
//   background-color: #eee;
// }